.bgImgContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100vw;
    top: 0;
    z-index: -1;
}

.bgImg {
    z-index: -1;
    position: sticky;
    top: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.galleryContentMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 0 10vw */
}

.imageWrapperMobile {
    height: 65vw;
}

.imageWrapperMobileVert {
    height: 135vw;
}

.imageWrapperMobile, .imageWrapperMobileVert {
    width: calc(100vw - 60px);
    position: relative;
    margin-bottom: 30px;
}

.galleryContentDesktop {
    display: none;
}

.largeImg {
    display: none;
}

.text {
    white-space: pre-wrap;
    margin: 0 30px 30px;
    font-weight: bold;
    font-size: large;
    line-height: 1.3;
}

.prefetch {
    display: none;
}

@media only screen and (min-width: 768px) {
    .galleryContentDesktop {
        display: flow-root;
        flex-direction: unset;
        align-items: unset;
        margin: 0 calc(mod(100vw, 430px) / 2);
        columns: 400px;
        column-gap: 30px;
    }

    .image {
        padding: 15px 0;
    }

    .image:hover {
        filter: brightness(70%);
    }

    .galleryContentMobile {
        display: none;
    }

    .largeImg {
        display: unset;
        position: fixed;
        z-index: 10;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        backdrop-filter: blur(10px) brightness(70%);
    }

    .largeImgContainer {
        width: calc(100vw - 8vh);
        height: 92vh;
        position: fixed;
        top: 4vh;
        bottom: 4vh;
        left: 4vh;
        right: 4vh;
    }

    .right, .left {
        position: absolute;
        z-index: 12;
        top: calc(50vh - 50px);
        height: 100px;
        width: 100px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0,0,0,0.5);
        cursor: pointer;
        transition: transform 0.1s;
    }

    .left:hover, .right:hover {
        transform: scale(1.2);
    }

    .right img {
        transform: scaleX(-1);
    }

    .right {
        right: 40px;
    }

    .left {
        left: 40px;
    }

    .progress {
        position: absolute;
        bottom: 5vh;
        right: 5vh;
        font-size: xx-large;
        font-weight: bold;
        background-color: rgba(0,0,0,0.5);
        padding: 20px;
        border-radius: 20px;
    }

    .text {
        padding: 0 10vw 30px;
        font-size: x-large;
    }

    .prefetch {
        display: unset;
        position: fixed;
        opacity: 0;
        z-index: -100;
        height: 100vh;
        width: 100vw;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}