.textBox{
    text-align: center;
    padding: 0 10vw 10vw;
    font-size: large;
    font-weight: bold;
}

.spacer {
    height: 40vh;
}

.center {
    display: flex;
    justify-content: center;
    width: 100%;
}

.history {
    width: 80vw;
    /* margin: 0 10vw 10vw; */
    margin-bottom: 10vw;
    padding: 30px;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.5);
    text-align: left;
}

.blogSeparator {
    margin: 30px;
    height: 4px;
    border-radius: 2px;
    background-color: white;
}

.blogTitle {
    font-family: Nexa Rust Sans;
    font-weight: 400;
}

/* .blogItem:first-child > .blogSeparator {
    margin: 30px 0;
} */

.blogItem:last-child > .blogSeparator {
    display: none;
}

.blogText, .blogTitle {
    padding: 10px;
}

.blogText {
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: pre-wrap;
}

.posters {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (min-width: 768px) {
    .textBox {
        font-size: x-large;
        padding-bottom: 50px;
    }

    .history {
        width: 60vw;
        margin-bottom: 50px;
        text-align: justify;
    }

    .blogContent {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }

    .blogSeparator {
        width: 200px;
    }

    /* .blogItem:first-child > .blogSeparator {
        width: 400px;
    } */

    .blogItem {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .blogTitle {
        font-size: xx-large;
    }

    .blogText {
        font-size: large;
        align-items: end;
        padding-left: 50px;
        padding-right: 50px;
    }

    .posters {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
}