.container {
    background-color: rgba(0,0,0,0.5);
    margin: 0 5vw 5vw;
    padding: 0 5vw 5vw;
    font-weight: bold;
    text-align: center;
}


@media only screen and (min-width: 768px) {
    .container {
        margin: 0 10vw 50px;
        padding: 0 80px 50px;
        font-size: larger;
    }

    .container > *:not(:nth-child(1)) {
        padding-top: 60px;
    }
}