.container {
    width: 80vw;
    text-align: center;
    padding-bottom: 10vw;
    font-size: medium;
}

.container > a {
    color: white;
}

@media only screen and (min-width: 768px) {
    .container {
        padding-bottom: 50px;;
    }
}