.wrapper {
    width: 90vw;
    height: 120vw;
    position: relative;
    display: flex;
    margin: 2.5vw;
}

.banner {
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.text {
    position: relative;
    box-sizing: border-box;
    font-size: large;
    top: 0;
    width: 100%;
    height: 100vw;
    padding: 10px;
    overflow-y: scroll;
    animation: flyIn ease-out 0.3s;
    backdrop-filter: grayscale(100%) brightness(50%);
    /* text-align: justify; */
}

@keyframes flyIn {
    from {
        height: 0;
        top: 100vw;
    }

    to {
        height: 100vw;
        top: 0;
    }
}

.banner > summary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20vw;
    backdrop-filter: blur(10px) brightness(50%);
}

.banner > summary::marker, .banner > summary::-webkit-details-marker {
    display: none;
}

.icon {
    height: 10vw;
    margin-right: 15px;
    transform: rotate(90deg);
}

.banner[open] .icon {
    transform: rotate(-90deg);
}

.banner[open] > summary {
    backdrop-filter: blur(10px) grayscale(100%) brightness(50%);
}

.banner[open] {
    transition: all 0.3s;
}

.name, .role {
    padding: 0 10px
}

.name {
    font-size: large;
    font-family: 'Nexa Rust Sans';
    font-weight: 400;
}

.role {
    font-size: small;
    font-weight: bold;
}


@media only screen and (min-width: 768px) {
    .wrapper {
        width: 15vw;
        height: 26.5vw;
        margin: 20px;
    }

    .banner > summary {
        cursor: pointer;
        height: 4.5vw
    }

    .icon {
        height: 1.5vw
    }

    .text {
        height: 22vw;
        font-size: large;
        padding: 20px;
        animation: flyInDesktop ease-out 0.3s
    }

    @keyframes flyInDesktop {
        from {
            height: 0;
            top: 22vw;
        }
    
        to {
            height: 22vw;
            top: 0;
        }
    }

    .name {
        font-size: large;
    }

    .role {
        font-size: small;
    }
}