.wrapper {
    width: 80vw;
    text-decoration: none;
    margin-bottom: 10vw;
}

.image {
    width: 100%;
    height: auto;
    position: relative;
    font-size: 0;
}

.text {
    background-color: black;
    color: white;
    padding: 20px;
    line-height: 1.35;
}

@media only screen and (min-width: 768px) {
    .wrapper {
        width: 25vw;
        margin-bottom: 50px;
        margin-left: 25px;
        margin-right: 25px;
        /* transition: transform 0.1s ease-out; */
    }

    /* .wrapper:hover {
        transform: scale(1.02);
    } */
}