.videoCard {
    width: 80vw;
    height: auto;
    padding-bottom: 10vw;
    font-weight: bold;
}

.disclaimer {
    position: relative;
    width: 80vw;
    height: 50vw;
    display: flex;
}

.video {
    width: 80vw;
    height: 50vw;
    background-color: black;
}

.caption {
    background-color: black;
    text-align: center;
    padding: 10px;
}

.disclaimerBlur {
    z-index: 2;
    width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    transition: backdrop-filter 0.1s;
}

.disclaimerBlur:not(.active) {
    backdrop-filter: none;
}

.active {
    backdrop-filter: blur(5px) brightness(50%);
}

.disclaimerBlur:not(.active)>* {
    pointer-events: none;
    opacity: 0;
}

.active>* {
    pointer-events: all;
    opacity: 1;
}

.disclaimerBlur>* {
    transition: opacity 0.1s;
}

.disclaimerText {
    z-index: inherit;
    text-align: center;
    font-size: small;
}

.disclaimerButton {
    z-index: inherit;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
    color: white;
}

.play {
    z-index: 1;
    position: absolute;
    width: 20%;
    left: 40%;
    right: 40%;
    top: 40%;
    background-color: rgba(0,0,0,0.75);
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    transition: opacity 0.1s;
}

.active ~ .play {
    opacity: 0
}

@media only screen and (min-width: 768px) {
    .videoCard {
        width: 29vw;
        height: auto;
        margin: 2vw;
        padding-bottom: 0;
    }

    .disclaimer,
    .video {
        width: 29vw;
        height: 16.3vw;
    }

    .play {
        width: 10%;
        left: 45%;
        right: 45%;
        top: 45%;
    }
}