.portraits {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}


@media only screen and (min-width: 768px) {
    .portraits {
        margin: 0 10vw;
    }
}